{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - AskPupkin{% endblock %}

{% block content %}
<h1 class="fs-3 fw-bold mb-4">Settings: {{ user.nickname }}</h1>
<form method="post" action="settings.html" enctype="multipart/form-data" class="d-flex flex-column gap-3">
  <div class="row align-items-center">
    <label class="col-sm-3 col-form-label">Login</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="login" value="{{ user.login }}" />
    </div>
  </div>

  <div class="row align-items-center">
    <label class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" name="email" value="{{ user.email }}" />
    </div>
  </div>

  <div class="row align-items-center">
    <label class="col-sm-3 col-form-label">NickName</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="nickname" value="{{ user.nickname }}" />
    </div>
  </div>

  <div class="row align-items-start">
    <label class="col-sm-3 col-form-label">Upload avatar</label>
    <div class="col-sm-6 d-flex flex-column gap-2">
      <div class="avatar-placeholder fs-4">{{ user.nickname|slice:":2"|upper }}</div>

      <input type="file" class="form-control" name="avatar" accept="image/*" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}