{% extends 'base.html' %}

{% block title %}Sign Up - AskPupkin{% endblock %}

{% block content %}
<h1 class="fs-3 fw-bold mb-3">Registration</h1>

<form method="post" action="{% url 'core:signup' %}" class="d-flex flex-column gap-3">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>
  {% endif %}

  {% for field in form %}
  <div class="row align-items-center">
    <label class="col-sm-4 col-form-label">{{ field.label }}</label>
    <div class="col-sm-6">
      {{ field }}
      {% if field.errors %}
      <div class="text-danger small mt-1">{{ field.errors.0 }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="row mt-1">
    <div class="col-sm-6 offset-sm-4">
      <button type="submit" class="btn btn-primary">
        Register!
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-4">
      <a href="{% url 'core:login' %}" class="text-primary">Already has an account?</a>
    </div>
  </div>
</form>
{% endblock %}